<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shop.tcd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCD"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="d13ea502d3889a6d99f955103ef7e09c" />
        <service
            android:name=".v2.core.utils.TcpClientService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".ui.ListActivity"
            android:exported="false"
          />
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false"
             />
        <activity
            android:name="com.shop.tcd.v2.screen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>